/*THIS IS THE CSS PAGE */

/*MAIN PAGE*/

    /*  HEADER  */



/*  Navigation */

a {
  text-decoration: none;
  color: #63f;
}
a:hover {
  color: gold;
}

/* -- BODY -- */



/*CONTACT PAGE*/



/*ABOUT PAGE*/