/*THIS IS THE CSS PAGE */

/*MAIN PAGE*/

    /*  HEADER  */

header {
    background-color: crimson;
    color: white;
    text-align: center;
}

/*  Navigation */
.main-nav {
    float: right;
    margin-left: 1.75em;
    text-decoration: none;
}

.navigation {
    display: inline-flex;
}
li {
    margin: 0 5px
}

.main-nav a {
  color: black;
}
.main-nav a:hover {
  color: gold;
}

/* -- BODY -- */



/*CONTACT PAGE*/



/*ABOUT PAGE*/





/*Media Queries*/
